{% extends "base.html" %}
{% block content %}
{% if account %}
<section>
  <h2>Account Info</h2>
  <ul>
    <li><strong>email:</strong> <kbd>{{ account.email }}</kbd></li>
    <li><strong>password: </strong><kbd>{{ account.password }}</kbd></li>
  </ul>
</section>
{% endif %}
{% if transactions %}
<section>
  <h2>Transactions</h2>
  {% load humanize %}
  <p>toal open: <mark>{{ open_sum|floatformat:2|intcomma}} €</mark></p>
  <table>
    <thead>
      <tr>
        <td>date</td>
        <td>description</td>
        <td>amount</td>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{transaction.date}}</td>
        <td>{%firstof transaction.description 'n.a.'%}</td>
        <td>{{transaction.amount}} €</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}
{% if giftcards %}
<section>
  <h2>Gift Card History</h2>
  <table>
    <thead>
      <tr>
        <td>date</td>
        <td>amount</td>
        <td>buyer</td>
      </tr>
    </thead>
    <tbody>
      {% for card in giftcards %}
      <tr>
        <td>{{card.date}}</td>
        <td>{{card.amount}} €</td>
        <td>{% firstof card.buyer.first_name card.buyer.username 'unknown' %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}
{% endblock %}

